<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.braisedpanda.mapper.CategoryMapper">

    <!--查找所有用户-->
    <select id="getCategoryByCid" resultType="com.braisedpanda.bean.Category">
        select * from category where cid = #{cid}
  </select>

    <select id="getAllCategory" resultType="com.braisedpanda.bean.Category">
        select * from category
    </select>

</mapper>