<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <!--开始视图，自适应手机端-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>后台管理系统</title>
        <!--这里在内部打开有效果,后面加上了thymeleaf表达式，现在都有效果了-->
        <!--        <link rel="stylesheet" href="../static/lib/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">-->
        <link rel="stylesheet" href="lib/css/bootstrap.css" th:href="@{/lib/css/bootstrap.css}">
        <link rel="stylesheet" href="lib/css/goods.css" th:href="@{/lib/css/goods.css}">
        <!--        <script src="../static/lib/js/jquery-3.4.1.min.js" th:src= "@{/webjars/jquery/3.4.1/src/jquery.js}"></script>-->
        <!--        <script src="../static/lib/js/bootstrap.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>-->
        <script src="lib/js/jquery-3.4.1.min.js" th:src= "@{/lib/js/jquery-3.4.1.min.js}"></script>
        <script src="lib/js/bootstrap.js" th:src="@{/lib/js/bootstrap.js}"></script>

        <link rel="shortcut icon" th:href="@{/lib/images/ico1.ico}" type="image/x-icon">



    </head>
    <body>


        <header>
            <div class="yl-header1">

                <ul class="ulbar">
                    <li class="bar1"><div class="title">Epic Seven</div></li>
                    <li class="bar2"><a th:href="@{/toFirstPage}">首页</a></li>
                    <li class="bar3"><a th:href="@{/allgoods/1}">商品列表</a></li>
                    <li class="bar3"><a th:href="@{/allusers/1}">用户列表</a></li>
                    <li class="bar3"><a th:href="@{/allcategory}">分类管理</a></li>
                    <li class="bar3"><a th:href="@{/tochart}">数据统计</a></li>
                    <li class="bar3"><a th:href="@{/select}">高级搜索</a></li>
                </ul>

            </div>
            <div class="yl-header2">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">基于BootStrap搭建</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">@Version 3.3.7 <span class="sr-only">(current)</span></a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">所有分类 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li th:each="category:${categoryList}"><a th:href="@{/category/{cid}(cid=${category.cid})}+'/1'" th:text="${category.cname}"></a></li>

                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">游戏图鉴</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" th:action="@{/findgood}">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="查找商品" name="gname">
                                </div>
                                <button type="submit" class="btn btn-success">查找&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></button>&nbsp;
                                <button type="reset" class="btn btn-default">重置&nbsp;<span class="glyphicon glyphicon-repeat" aria-hidden="true"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="reset" class="btn btn-info"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">添加&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </form>
                            <ul class="nav navbar-nav navbar-right" id="yl-rightbar">

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="欢迎，+${session.user.username}" id="user"> <span class="caret"></span></a>

                                    <ul class="dropdown-menu" id="yl-rightbar2">
                                        <li><a th:href="@{/myinfo}">个人信息</a></li>
                                        <li><a th:href="@{/myinfo}">修改信息</a></li>

                                        <li role="separator" class="divider"></li>
                                        <li><a th:href="@{/quit}">退出登录</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </header>
        <section >
            <div class="goodstable" >
                <table class="table table-striped" >
                    <tr class="warning title-font">
                        <td th:width="130px">商品ID</td>
                        <td th:width="150px">名称</td>
                        <td th:width="250px">图片</td>
                        <td>价格</td>
                        <td>种类</td>
                        <td th:width="500px">简介</td>
                        <td>操作</td>
                    </tr>
                    <tr th:each="goods,goodsListStat:${goodsList}" >
                        <td th:text="${goods.gid}" style="vertical-align: middle" ></td>
                        <td th:text="${goods.gname}" style="vertical-align: middle"></td>
                        <td><img th:src="@{'/lib/images/'+${goods.image}}" id="goods-image" ></td>
                        <td th:text="${goods.price}" style="vertical-align: middle"></td>
                        <td th:text="${goods.category.getCname()}" style="vertical-align: middle"></td>
                        <td th:text="${goods.detail}" style="vertical-align: middle"></td>
                        <td style="vertical-align: middle">
                            <a class="btn btn-success" type="submit"  th:href="@{/edit/{gid}(gid=${goods.gid})}">编辑&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true" ></a>
                            <a class="btn btn-danger delete" type="submit" th:href="@{/delete/{gid}(gid=${goods.gid})}">删除&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></a>

                        </td>
                    </tr>

                </table>

            </div>

        </section>
        <section>
            <div class="pagebean">
                <nav aria-label="Page navigation ">
                    <ul class="pagination pagination-lg">
                        <li>
                            <a th:href="@{/allgoods/{startPage}(startPage=${startPage}-1)}" th:if="${startPage}>1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a th:href="@{/allgoods/1}" th:if="${startPage}!=1">首页</a></li>
                        <li><a th:href="@{/allgoods/{startPage}(startPage=${startPage}-2)}" th:if="${startPage}-2>0">[[${startPage}-2]]</a></li>
                        <li><a th:href="@{/allgoods/{startPage}(startPage=${startPage}-1)}" th:if="${startPage}-1>0">[[${startPage}-1]]</a></li>
                        <li><a th:href="@{/allgoods/{startPage}(startPage=${startPage})}" >[[${startPage}]]</a></li>
                        <li><a th:href="@{/allgoods/{startPage}(startPage=${startPage}+1)}" th:if="${startPage}+1<=${totalPage}">[[${startPage}+1]]</a></li>
                        <li><a th:href="@{/allgoods/{startPage}(startPage=${startPage}+2)}" th:if="${startPage}+2<=${totalPage}">[[${startPage}+2]]</a></li>
                        <li><a th:href="@{/allgoods/{startPage}(startPage=${startPage}+3)}" th:if="${startPage}+3<=${totalPage}">[[${startPage}+3]]</a></li>
                        <li><a th:href="@{/allgoods/{startPage}(startPage=${totalPage})}" th:if="${startPage}!=${totalPage}">尾页</a></li>


                        <li>
                            <a th:href="@{/allgoods/{startPage}(startPage=${startPage}+1)}" th:if="${startPage}+1<=${totalPage}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </section>
        <!--模态框-->
        <section>
            <!-- Modal -->


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">新增商品</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" th:action="1+'/add'" enctype="multipart/form-data">


                                    <legend style="text-align: center">商品信息</legend>


                                    <div class="form-group">
                                        <label  class="control-label">商品名称:</label>
                                        <input  name="gname" type="text" class="form-control">


                                    </div>

                                    <!-- 价格-->
                                    <div class="form-group">
                                        <label class="control-label" >价格</label>

                                            <input  name="price" type="text" class="form-control">


                                    </div>


                                    <!-- 上传图片 -->
                                    <div class="form-group">
                                        <label class="control-label" >上传图片</label>

                                            <input id="filebutton" name="file" class="input-file" type="file">

                                    </div>
                                    <!-- 选择分类框 -->
                                    <div class="form-group">
                                        <label class="control-label" >商品分类</label>

                                            <select id="selectbasic" name="cid" class="form-control">

                                                <option th:each="category:${categoryList}" th:text="${category.cname}" th:value="${category.cid}"></option>


                                            </select>

                                    </div>



                                    <!-- 商品简介 -->
                                    <div class="form-group">
                                        <label class=" control-label" >商品简介</label>

                                            <textarea class="form-control" id="textarea" name="introduction" ></textarea>

                                    </div>

                                    <!-- 商品详细 -->
                                    <div class="form-group">
                                        <label class="control-label" for="textarea">商品详细</label>

                                            <textarea class="form-control" id="textarea" name="detail" t></textarea>

                                    </div>

                                    <!-- 操作按钮 -->
                                    <div class="form-group">
                                        <label class="control-label" for="button1id"></label>

                                            <button id="button1id" name="button1id" class="btn btn-success" type="submit" >添加</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button id="button2id" name="button2id" class="btn btn-danger" type="reset" >重置</button>

                                    </div>

<!--                                </div>-->


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <br><br>
        <footer style="text-align: center">
            <div >
                <p>参考网站：BootStrap中文网(https://v3.bootcss.com/)</p>
                <p>《Epic Seven》 后台管理系统 by @braisedpanda.</p>
                <p>最近更新：2019-7-19 22:35:53</p>
            </div>
        </footer>
    </body>
</html>